* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 400px;
    margin: auto;
    padding: 30px;
    border-radius: 8px;
}


.input-group {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.input-text {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: lightgreen;
}
h1 {
    text-align: center;
    padding-bottom: 20px;
}

ul {
    list-style: none;
}


li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}


.eliminar {
    color: red;
    cursor: pointer;
}

.completada {
    text-decoration: line-through;
    color: gray;
}

#mensajeError {
    color: red;
    font-size: .9em;
    margin-bottom: 15px;
    display: none;
}